@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply font-sans;
    -webkit-tap-highlight-color: transparent;
  }
}

.bento-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}